ros-melodic-gazebo-ros-pkgs
ros-melodic-velodyne-description
ros-melodic-velodyne-gazebo-plugins
ros-melodic-rviz
ros-melodic-robot-state-publisher
ros-melodic-husky-gazebo
python-pip
python-catkin-tools
